.picture-box {
  height: calc(100px + 1em);
  margin-bottom: 1em;
  padding: 0.5em;
  background: rgb(187, 89, 222);
  border-radius: 5px;
}

.quote-box {
  margin-top: 2em;
  padding: 0.5em;
  border-radius: 5px;
}

.quote {
  font-style: bold;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.author {
  font-weight: bold;
  text-align: center;
}

.author::before {
  content: " :) ";
}

#picture img {
  width: 100%;
  height: 100%;
}
